
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>'古诗文搜索引擎'</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		content="Trendz Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all" />
</head>

<body>
	<section class="w3l-forms-23">
		<div class="forms23-block-hny">
			<div class="wrapper">
				<h1>Poetry</h1>
				<div class="d-grid forms23-grids">
					<div class="form23">
						<div class="main-bg">
							<h6 class="sec-one">welcome</h6>
							<div class="speci-login first-look">
								<img src="images/user.png" alt="" class="img-responsive">
							</div>
						</div>
						<div class="bottom-content">
							<form action="#" method="post">
								<input type="userId" name="userId" class="input-form" placeholder="Your ID"
										required="required" />
								<input type="password" name="password" class="input-form"
										placeholder="Your Password" required="required" />
								<button type="submit" class="loginhny-btn btn">Login</button>
							</form>
							<p>Not a member yet? <a href="{{url_for('getRigistRequest')}}">JOIN NOW</a></p>
						</div>
					</div>
				</div>
				<div class="w3l-copy-right text-center">
					<p>诗歌小分队
						<!-- <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p> -->
				</div>
			</div>
		</div>
	</section>

</body>

</html>