<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Trendz Login Form Responsive Widget Template :: W3layouts</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		content="Trendz Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->
	<!--/Style-CSS -->
	<link rel="stylesheet" href="../static/css/style1.css" type="text/css" media="all" />
	<!--//Style-CSS -->
</head>

<body>
	<!-- /login-section -->

	<section class="w3l-forms-23">
		<div class="forms23-block-hny">
			<div class="wrapper">
				<h1>Poetry</h1>
				<div class="d-grid forms23-grids">
					<div class="form23">
						<div class="bottom-content">
							<form action="#" method="post">
								<input type="userId" name="userId" class="input-form" placeholder="Your ID"
										required="required" />
								<input type="password" name="password" class="input-form"
										placeholder="Your Password" required="required" />
								<input type="phone" name="phone" class="input-form" placeholder="phone"
										required="required" />
								<input type="email" name="email" class="input-form" placeholder="email"
										required="required" />
								<button type="submit" class="loginhny-btn btn">register</button>
							</form>
							<p><a href="{{url_for('user_login')}}">返回登录页面</a></p>
						</div>
					</div>
				</div>
				<div class="w3l-copy-right text-center">
					<p>诗歌小分队
						<!-- <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p> -->
				</div>
			</div>
		</div>
	</section>
	<!-- //login-section -->
</body>

</html>