<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>古诗文小分队</title>
	<link rel="stylesheet" type="text/css" href="../static/index.css">
</head>
<body>
	<div class="navbar">
		<a href="#" class="logo">古诗文小分队</a>
		<ul class="nav">
			<li><a href="#home">主页</a></li>
			<li><a href="recommend">推荐</a></li>
			<li><a href="poem">诗</a></li>
            <li><a href="poem_ci">词</a></li>
			<li><a href="sentence">名句</a></li>
            <li><a href="author">作者</a></li>
		</ul>
	</div>
	<div class="inner">
		<div class="left">
			<div class="son1">
				<div class="text-part">
					<h1 id="context">美人对月</h1>
					<p class="author">唐寅 [明代]</p>
					<p class="verse">斜髻娇娥夜卧迟，梨花风静鸟栖枝。</br>
			   		难将心事和人说，说与青天明月知。</p>
				</div>
			</div>
			<div class="son3">
				<div class="text-part">
					<h1>渡易水</h1>
					<p class="author">陈子龙 [明代]</p>
					<p class="verse">并刀昨夜匣中鸣，燕赵悲歌最不平；</br>
			   		易水潺湲云草碧，可怜无处送荆卿！</p>
				</div>
			</div>
			<div class="son4">
				<div class="text-part">
					<h1>梦中作</h1>
					<p class="author">欧阳修 [宋代]</p>
					<p class="verse">夜凉吹笛千山月，路暗迷人百种花。</br>
					棋罢不知人换世，酒阑无奈客思家。</p>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="son2">
				<div class="text-part">
					<h1>类型</h1>
					<div class="cont">
						<p>唐诗三百</p>
						<p>古诗三百</p>
						<p>宋词三百</p>
						<p>小学古诗</p>
						<p>初中古诗</p>
						<p>高中古诗</p>
						<p>小学文言</p>
						<p>初中文言</p>
						<p>高中文言</p>
						<p>宋词精选</p>
						<p>古诗十九</p>
						<p>诗经</p>
						<p>楚辞</p>
						<p>乐府</p>
						<p>写景</p>
						<p>咏物</p>
						<p>春天</p>
						<p>夏天</p>
						<p>秋天</p>
						<p>冬天</p>
						<p>写雨</p>
						<p>写雪</p>
						<p>写风</p>
						<p>写花</p>
						<p>梅花</p>
						<p>荷花</p>
						<p>菊花</p>
						<p>柳树</p>
						<p>月亮</p>
						<p>山水</p>
						<p>写山</p>
						<p>写水</p>
						<p>长江</p>
						<p>黄河</p>
						<p>儿童</p>
						<p>写鸟</p>
						<p>写马</p>
						<p>田园</p>
						<p>边塞</p>
						<p>地名</p>
						<p>节日</p>
						<p>春节</p>
						<p>元宵</p>
						<p>寒食</p>
						<p>清明</p>
						<p>端午</p>
						<p>七夕</p>
						<p>中秋</p>
						<p>重阳</p>
						<p>怀古</p>
						<p>抒情</p>
						<p>爱国</p>
						<p>离别</p>
						<p>送别</p>
						<p>思乡</p>
						<p>思念</p>
						<p>爱情</p>
						<p>励志</p>
						<p>哲理</p>
						<p>闺怨</p>
						<p>悼亡</p>
						<p>写人</p>
						<p>老师</p>
						<p>母亲</p>
						<p>友情</p>
						<p>战争</p>
						<p>读书</p>
						<p>惜时</p>
						<p>忧民</p>
						<p>婉约</p>
						<p>豪放</p>
						<p>民谣</p>
					</div>
				</div>
			</div>
		</div>
	<div class="main">
    © 2021 <a href="file:///C:/Users/28181/Desktop/nosql%E5%89%8D%E7%AB%AF/html/%E8%AF%97%E6%96%87%E5%B0%8F%E5%88%86%E9%98%9F.html">古诗文小分队</a> | <a href="file:///C:/Users/28181/Desktop/nosql%E5%89%8D%E7%AB%AF/html/%E6%8E%A8%E8%8D%90.html">推荐</a> | <a href="https://so.gushiwen.cn/shiwens/">诗文</a> | <a href="file:///C:/Users/28181/Desktop/nosql%E5%89%8D%E7%AB%AF/html/%E5%90%8D%E5%8F%A5.html">名句</a> | <a href="file:///C:/Users/28181/Desktop/nosql%E5%89%8D%E7%AB%AF/html/%E4%BD%9C%E8%80%85.html">作者</a> | <a href="file:///C:/Users/28181/Desktop/nosql%E5%89%8D%E7%AB%AF/html/%E5%8F%A4%E7%B1%8D.html">古籍</a> 
	</div>
	</div>
</body>
</html>