<!DOCTYPE html>
<html lang="en" >

	<head>
		<title>Index</title>

		<!-- Meta tag Keywords -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta>
		<meta name="keywords" content="" />
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<!--// Meta tag Keywords -->

		<!-- pop up box -->
		<link href="static/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
		<!-- //pop up box -->

		<link rel="stylesheet" href="static/css/jquery.desoslide.css">

		<!-- css files -->
		<link rel="stylesheet" href="static/css/bootstrap.css">
		<!-- Bootstrap-Core-CSS -->
		<link rel="stylesheet" href="static/css/style.css" type="text/css" media="all" />
		<!-- Style-CSS -->
		<link rel="stylesheet" href="static/css/font-awesome.css">
		<!-- Font-Awesome-Icons-CSS -->
		<!-- //css files -->

		<link rel="stylesheet" href="static/css/jquery-ui.css" />
		<!-- web-fonts -->
		<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
		<!-- //web-fonts -->

	</head>

	<body>

		<!--Header-->
		<header>
			<div class="container agile-banner_nav">
				<div class="row header-top">
					<div class="col-md-7 top-right p-0">
						<p><i class="fa fa-map-marker" aria-hidden="true"></i> 常州,武进区
					</div>
				</div>

				<nav class="navbar navbar-expand-lg navbar-light bg-light">

					<h2><a class="navbar-brand" ><p>尘随马去</p><p>月逐舟行</p></a></h2>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
				</nav>
			</div>
		</header>
		<!--Header-->

		<!-- banner-text -->
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides callbacks callbacks1" id="slider4">
					<li>
						<div class="banner-top">
							<div class="layer">
								<div class="container">
									<div class="banner-info_agile_w3ls">
										<!-- <h2>旅行需要一次好的 <span> 计划</span>. </h2> -->
										<!-- <p>假日套餐和特别优惠.</p> -->
										<a class="mr-2">了解更多成语 <i class="fa fa-caret-right" aria-hidden="true"></i></a>
										<a >帮助 <i class="fa fa-caret-right" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="banner-top1">
							<div class="layer">
								<div class="container">
									<div class="banner-info_agile_w3ls">
										<!-- <h3>最佳的旅游 <span> 网站</span> </h3> -->
										<!-- <p>假日套餐和特别优惠.</p> -->
										<a  class="mr-2">了解更多成语 <i class="fa fa-caret-right" aria-hidden="true"></i></a>
										<a >帮助 <i class="fa fa-caret-right" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="banner-top2">
							<div class="layer">
								<div class="container">
									<div class="banner-info_agile_w3ls">
										<!-- <h3>来发现 <span>最美</span> 圣地.</h3> -->
										<!-- <p>假日套餐和特别优惠.</p> -->
										<a  class="mr-2">了解更多成语 <i class="fa fa-caret-right" aria-hidden="true"></i></a>
										<a >帮助 <i class="fa fa-caret-right" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="banner-top3">
							<div class="layer">
								<div class="container">
									<div class="banner-info_agile_w3ls">
										<!-- <h3>旅行就像 <span>呼吸</span>.</h3> -->
										<!-- <p>假日套餐和特别优惠.</p> -->
										<a  class="mr-2">了解更多成语<i class="fa fa-caret-right" aria-hidden="true"></i></a>
										<a >帮助<i class="fa fa-caret-right" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>

			<!-- Social Icons -->
			<div class="w3_agileits_social_media">
				<ul>
					<li>
						<!-- <a href="#" class="wthree_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a> -->
					</li>
					<li>
						<!-- <a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a> -->
					</li>
					<li>
						<!-- <a href="#" class="wthree_qq"><i class="fa fa-qq" aria-hidden="true"></i></a> -->
					</li>
					<li>
						<!-- <a href="#" class="wthree_weixin"><i class="fa fa-weixin" aria-hidden="true"></i></a> -->
					</li>
				</ul>
			</div>
			<!-- //Social Icons -->

			<!-- To bottom button-->
			<div class="thim-click-to-bottom">
				<div class="rotate">
					<a href="#loveleojiang" class="scroll">
						<i class="fa fa-ellipsis-v"></i>
					</a>
				</div>
			</div>
			<!-- //To bottom button-->
		</div>
		<div id="loveleojiang" class="team py-5">
			<div class="agile_dot_info two">
				<div class="container">
					<h3 class="heading text-center mb-5">成语类型</h3>
					<div class="row agileits_team_grids">
						<div class="col-lg-3 col-sm-6 agileits_team_grid">
							<div class="agileits_team_grid_figure">
								<img src="static/images/type1.jpg" alt=" " class="img-responsive" />
							</div>
							<div class="agileits_team_grid_figure_social">
							
							</div>
							<div class="clearfix"> </div>
							<h4>季节成语 <span></span></h4>
							{% for phrase in type1[52:70]%}
							<a href="{{url_for('index')}}" > {{phrase.成语}} <span></span></a>
							<p></p>
							{%  endfor%}						
						</div>
						<div class="col-lg-3 col-sm-6 agileits_team_grid">
							<div class="agileits_team_grid_figure">
								<img src="static/images/type2.jpg" alt=" " class="img-responsive" />
							</div>
							<div class="agileits_team_grid_figure_social">
								<ul class="w3ls_social">
									<li>
										<!-- <a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a> -->
									</li>
									<li>
										<!-- <a href="#" class="w3_agile_qq"><i class="fa fa-qq" aria-hidden="true"></i></a> -->
									</li>
								</ul>
							</div>
							<div class="clearfix"> </div>
							<h4>天气成语 <span></span></h4>
							{% for phrase1 in type2[75:90]%}
							<a href="{{url_for('index')}}" > {{phrase1.成语}} <span></span></a>
							<p></p>
							{%  endfor%}						
							<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum modi molestiae vel quo inventore dolore adipisci sint nesciunt cum beatae ullam incidunt consequatur perferendis delectus debitis nam at consequuntur ipsam? </p> -->
						</div>
						<div class="col-lg-3 col-sm-6 agileits_team_grid">
							<div class="agileits_team_grid_figure">
								<img src="static/images/type3.jpg" alt=" " class="img-responsive" />
							</div>
							<div class="agileits_team_grid_figure_social">
								<ul class="w3ls_social">
									<li>
										<!-- <a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a> -->
									</li>
									<li>
										<!-- <a href="#" class="w3_agile_qq"><i class="fa fa-qq" aria-hidden="true"></i></a> -->
									</li>
								</ul>
							</div>
							<div class="clearfix"> </div>
							<h4>生肖成语 <span></span></h4>
							{% for phrase1 in type3[26:42]%}
							<a href="{{url_for('index')}}" > {{phrase1.成语}} <span></span></a>
							<p></p>
							{%  endfor%}			

						</div>
						<div class="col-lg-3 col-sm-6 agileits_team_grid">
							<div class="agileits_team_grid_figure">
								<img src="static/images/type4.jpg" alt=" " class="img-responsive" />
							</div>
							<div class="agileits_team_grid_figure_social">
							</div>
							<div class="clearfix"> </div>
							<h4>人物成语 <span></span></h4>
							{% for phrase1 in type4[210:230]%}
							<a href="{{url_for('index')}}" > {{phrase1.成语}} <span></span></a>
							<p></p>
							{%  endfor%}			
							<h4 > <span></span></h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="static/js/jquery-2.2.3.min.js"></script>
		<script type="text/javascript" src="static/js/bootstrap.js"></script>
		<!-- Necessary-JavaScript-File-For-Bootstrap -->
		<!-- //js -->

		<!-- desoslide-JavaScript -->
		<script src="static/js/jquery.desoslide.js"></script>
		<script>
			$('#demo1_thumbs').desoSlide({
				main: {
					container: '#demo1_main_image',
					cssClass: 'img-responsive'
				},
				effect: 'sideFade',
				caption: true
			});
		</script>

		<!-- Calendar -->
		<script src="static/js/jquery-ui.js"></script>
		<script>
			$(function() {
				$("#datepicker,#datepicker1").datepicker();
			});
		</script>
		<!-- //Calendar -->

		<!-- banner slider -->
		<script src="static/js/responsiveslides.min.js"></script>
		<script>
			$(function() {
				$("#slider4").responsiveSlides({
					auto: true,
					pager: true,
					nav: true,
					speed: 1000,
					namespace: "callbacks",
					before: function() {
						$('.events').append("<li>before event fired.</li>");
					},
					after: function() {
						$('.events').append("<li>after event fired.</li>");
					}
				});
			});
		</script>
		<!-- //banner slider -->

		<!--pop-up-box -->
		<script src="static/js/jquery.magnific-popup.js"></script>
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
				});
			});
		</script>
		<!-- //pop-up-box -->

		<!-- start-smoth-scrolling -->
		<script src="static/js/SmoothScroll.min.js"></script>
		<script type="text/javascript" src="static/js/move-top.js"></script>
		<script type="text/javascript" src="static/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event) {
					event.preventDefault();
					$('html,body').animate({
						scrollTop: $(this.hash).offset().top
					}, 1000);
				});
			});
		</script>
		<!-- here stars scrolling icon -->
	
		<!-- //here ends scrolling icon -->
		<!-- start-smoth-scrolling -->

		<!-- //js-scripts -->

	</body>

</html>